<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="bi bi-square-fill"></i>Mpho <span class="brand-alt">Motlhale</span></a>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/portfolio">Portfolio</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/mpho-motlhale-28ba54235/"><i class="bi bi-linkedin"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/tshephomotlhale/"><i class="bi bi-instagram"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/tshephomotlhale"><i class="bi bi-github"></i></a>
        </li>
      </ul>
    </div>
    <a href="mailto:tshephomotlhale@outlook.com" class="btn btn-primary">Get in touch</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
