.card {
  background-color: #333; /* Dark background for the card */
  border: none;
  color: #fff;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
  text-align: left;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 0.9rem;
  color: #ccc;
}
