<div class="hero-section d-flex align-items-center justify-content-center">
  <div class="container text-center">
    <img src="./assets/pexels-emrecanalgul-25950675.jpg" alt="Profile Image" class="profile-img rounded-circle mx-auto d-block">
    <h1 class="display-4 mt-4">Hi, I'm Mpho — Full Stack Developer</h1>
    <p class="lead mt-3">I enjoy creating products from scratch and improving existing ones. <br>
      In simple terms, I design <span class="font-weight-bold">Web Platforms</span> that make a profit or enhance
      business.
    </p>
    <div class="mt-4">
      <button href="mailto:tshephomotlhale@outlook.com" type="button" class="btn btn-primary">Let's Talk</button>
      <span class="open-for-opportunities">
        <span class="blinking-dot">●</span> Open for opportunities
      </span>
    </div>
    <div class="tech-stack-container mt-5">
      <app-tech-stack></app-tech-stack>
    </div>
  </div>
</div>
