<app-profile-card
  name="Mpho"
  role="Full Stack Developer"
  description="With 1+ years of experience in Full Stack Development, I create digital interfaces that are user-centric and align with the strategic objectives of the business, using analytical and data-driven management skills. My design journey began with my graduation in graphic design, which provided me with a solid foundation for creating visually appealing products."
  imageUrl="./assets/pexels-emrecanalgul-25950675.jpg"
  [yearsExperience]="1"
  [projectsCompleted]="5"
  [industriesServed]="2"
></app-profile-card>
<app-services></app-services>

